*{
    margin: 0;
    padding: 0;
    box-sizeing: border-box;
    font-family:'Ubuntu',sans-serif;
}
.logos{
    font-size: 45px;
    border-bottom: 4px solid #fff;
}
.logos:hover{
    color: #fff;
    --c:lightseagreen;
    text-shadow: 0 0 10px var(--c),
    0 0 20px var(--c),
    0 0 40px var(--c),
    0 0 80px var(--c),
    0 0 160px var(--c);
    animation: animate 5s linear infinite;

}
@keyframes  animate{
    to{
        filter: hue-rotate(360deg);
    }
}
#sanxing {
			font-size: 200px; height:250;
            width:;}
        #menu {
        background - color: black;
        }
        *,
*:after,
*:before {
    box - sizing: border - box;
}

:root {
    --color - bg - primary: #d0d6df;
    --color - bg - primary - offset: #f1f3f7;
    --color - bg - secondary: #fff;
    --color - text - primary: #3a3c42;
    --color - text - primary - offset: #898c94;
    --color - orange: #dc9960;
    --color - green: #1eb8b1;
    --color - purple: #657cc4;
    --color - black: var(--color - text - primary);
    --color - red: #d92027;
}

body {
    font - family: "Inter", sans - serif;
    background - color: var(--color - bg - primary);
    color: var(--color - text - primary);
}

.menu {
    display: flex;
    flex - direction: column;
    background - color: var(--color - bg - secondary);
    border - radius: 10px;
    box - shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
}

.menu - list {
    margin: 0;
    display: block;
    width: 100%;
    padding: 8px;
}

.menu - list +.menu - list {
    border - top: 1px solid #ddd;
}

.menu - sub - list {
    display: none;
    padding: 8px;
    background - color: var(--color - bg - secondary);
}

.menu - item {
    list - style: none;
}

.menu - button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align - items: center;
    gap: 8px;
    font - size: 14px;
    color: var(--color - text - primary);
}

.menu - button--black {
    color: var(--color - black);
}

.menu - button--orange {
    color: var(--color - orange);
}

.menu - button--purple {
    color: var(--color - purple);
}

.menu - button--green {
    color: var(--color - green);
}

.menu - button--delete {
    color: var(--color - red);
}

.menu - button--checked {
    color: var(--color - green);
}
        