*{
    margin: 0;
    padding: 0;
    box-sizeing: border-box;
    font-family:'Ubuntu',sans-serif;
}
.logos{
    font-size: 45px;
    border-bottom: 4px solid #fff;
}
.logos:hover{
    color: #fff;
    --c:lightseagreen;
    text-shadow: 0 0 10px var(--c),
    0 0 20px var(--c),
    0 0 40px var(--c),
    0 0 80px var(--c),
    0 0 160px var(--c);
    animation: animate 5s linear infinite;

}
.logoes{
    font-size: 500px;
    height:200;
    width:250;
}
.logoes:hover{
    color: #fff;
    --c:lightseagreen;
    text-shadow: 0 0 10px var(--c),
    0 0 20px var(--c),
    0 0 40px var(--c),
    0 0 80px var(--c),
    0 0 160px var(--c);
    animation: animate 5s linear infinite;

}
@keyframes  animate{
    to{
        filter: hue-rotate(360deg);
    }
}
#sanxing {
			font-size: 200px; height:100%;
            width:100%;}